{% extends 'portal/base.html' %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tipos de Elemento</h1>
            <p class="mb-4">El Portal de <a href="http://www.datos.gov.co" target="_blank">Datos Abiertos de Colombia</a> tiene bla bla bla bla .</p>

          <!-- Content Row -->
          <div class="row">

            <!-- Gráfico -->
            <div class="col-xl-8 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Gráfica</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4">
                    <canvas id="categorias"></canvas>
                  </div>
                  <hr>
                  Se presentan aquí los diferentes tipos de elemento que existen en el portal de Datos de Colombia.
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-7">

              <!-- Tabla -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
                </div>
                <div class="card-body">
                    <div>
                  <!--div class="chart-area"-->
                    <table id="dataTableCategorias" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                       <thead>
                        <tr>
                          <th class="th-sm">Nombre

                          </th>
                          <th class="th-sm">Cantidad

                          </th>

                        </tr>
                      </thead>
                      <tbody>
                    {% for key in categorias %}
                      <tr>
                        <td>
                        {{ key.value }}
                        </td>
                        <td>
                        {{ key.count }}
                        </td>
                      </tr>
                    {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Nombre
                          </th>
                          <th>Cantidad
                          </th>

                        </tr>
                      </tfoot>
                    </table>


                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}